---
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)
const { date } = Astro.props
---

<time datetime={date.toISOString()}>
    <div
        class="tooltip"
        data-tip={'Posted on ' +
            date.toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
            })}
    >
        {dayjs(date).fromNow()}
    </div>
</time>
