---
---
<div class="navbar mt-4 mb-10">
    <div class="navbar-start self-center md:opacity-0">
        <div class="dropdown -mt-1">
            <div
                tabindex="0"
                role="button"
                class="btn btn-circle btn-ghost"
                aria-label="Menu"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h7"></path></svg
                >
            </div>
            <ul
                tabindex="0"
                class="menu dropdown-content menu-sm rounded-box bg-base-100 z-1 mt-3 w-52 p-2 shadow-sm"
            >
                <li><a href="/">Home</a></li>
                <li><a href="/honest-reviews">Honest Reviews</a></li>
                <li><a href="/renovation">Renovation</a></li>
                <li><a href="/shopping">Shopping</a></li>
                <li><a href="/maintenance">Maintenance</a></li>
                <li><a href="/general">General</a></li>
                <li><a href="/about-us">About</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center grid grid-cols-3 justify-items-center">
        <div class="col-span-3 md:pb-4">
            <a href="/" class="self-center">
                <div
                    class="from-primary via-accent to-primary flex items-center bg-linear-to-r bg-clip-text p-1 text-4xl font-extrabold tracking-tighter text-transparent md:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
                >
                    BTOn<svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="1em"
                        height="1em"
                        class="text-accent -mx-1 inline"
                        viewBox="0 0 24 24"
                        ><path
                            fill="currentColor"
                            d="M12 17.65q.2 0 .363-.062t.312-.188q.8-.725 1.525-1.425t1.263-1.375t.862-1.312t.325-1.238q0-1.1-.75-1.825T14.1 9.5q-.65 0-1.187.263T12 10.45q-.375-.425-.937-.687T9.9 9.5q-1.05 0-1.8.725t-.75 1.825q0 .6.325 1.238t.863 1.312T9.8 15.975t1.525 1.425q.15.125.313.188t.362.062M6 21q-.825 0-1.412-.587T4 19v-7.375L3 12.4q-.35.25-.75.2t-.65-.4t-.187-.75t.387-.65l8.975-6.875q.275-.2.588-.3t.637-.1t.638.1t.587.3l9 6.875q.325.25.375.65t-.2.75q-.25.325-.65.375t-.725-.2L20 11.625V19q0 .825-.587 1.413T18 21zm0-2h12v-8.9l-6-4.575L6 10.1zm0 0h12z"
                        ></path></svg
                    >mics
                </div></a
            >
            <div class="col-span-2 hidden text-center italic lg:grid">
                A blog on our journey renovating our HDB home on a budget.
            </div>
        </div>

        <div class="dropdown hidden md:flex">
            <div
                tabindex="0"
                role="button"
                class="btn btn-ghost text-primary hover:bg-base-100 hover:text-accent text-base font-bold"
            >
                Blog<svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                    ><path
                        fill="currentColor"
                        d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"></path></svg
                >
            </div>
            <ul
                tabindex="0"
                class="menu dropdown-content menu-sm rounded-box z-1 mt-10 w-52 border border-gray-500 bg-[#1c2c50] p-2 shadow-sm"
            >
                <li class="border-b border-b-white/10">
                    <a href="/"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.3em"
                            height="1.3em"
                            class="carbon:home me-2 inline"
                            viewBox="0 0 32 32"
                            ><path
                                fill="currentColor"
                                d="M16.612 2.214a1.01 1.01 0 0 0-1.242 0L1 13.419l1.243 1.572L4 13.621V26a2.004 2.004 0 0 0 2 2h20a2.004 2.004 0 0 0 2-2V13.63L29.757 15L31 13.428ZM18 26h-4v-8h4Zm2 0v-8a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v8H6V12.062l10-7.79l10 7.8V26Z"
                            ></path></svg
                        >Home</a
                    >
                </li>
                <li class="border-b border-b-white/10">
                    <a href="/honest-reviews"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.3em"
                            height="1.3em"
                            class="carbon:review me-2 inline"
                            viewBox="0 0 32 32"
                            ><path
                                fill="currentColor"
                                d="m16 8l1.912 3.703l4.088.594L19 15l1 4l-4-2.25L12 19l1-4l-3-2.703l4.2-.594z"
                            ></path><path
                                fill="currentColor"
                                d="M17.736 30L16 29l4-7h6a1.997 1.997 0 0 0 2-2V8a1.997 1.997 0 0 0-2-2H6a1.997 1.997 0 0 0-2 2v12a1.997 1.997 0 0 0 2 2h9v2H6a4 4 0 0 1-4-4V8a4 4 0 0 1 4-4h20a4 4 0 0 1 4 4v12a4 4 0 0 1-4 4h-4.835Z"
                            ></path></svg
                        >
                        Honest Reviews</a
                    >
                </li>
                <li class="border-b border-b-white/10">
                    <a href="/renovation"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.3em"
                            height="1.3em"
                            class="material-symbols:tools-power-drill-outline me-2 inline"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M6 19h6v-1H6zm.75-9h4.5q.3 0 .525-.225T12 9.25t-.225-.525t-.525-.225h-4.5q-.3 0-.525.225T6 9.25t.225.525t.525.225m0-2.5h4.5q.3 0 .525-.225T12 6.75t-.225-.525T11.25 6h-4.5q-.3 0-.525.225T6 6.75t.225.525t.525.225M16 11V9h2V7h-2V5h2q.825 0 1.413.588T20 7h2q.425 0 .713.288T23 8t-.288.713T22 9h-2q0 .825-.587 1.413T18 11zm-4 5h-2v-5h4V5H6q-.825 0-1.412.588T4 7v2q0 .825.588 1.413T6 11h2v5H6v-3q-1.65 0-2.825-1.175T2 9V7q0-1.65 1.175-2.825T6 3h8q.825 0 1.413.588T16 5v6q0 .825-.587 1.413T14 13h-2zm-6.5 5q-.625 0-1.062-.437T4 19.5v-2q0-.625.438-1.062T5.5 16h7q.625 0 1.063.438T14 17.5v2q0 .625-.437 1.063T12.5 21zm6.5-2H6z"
                            ></path></svg
                        >
                        Renovation</a
                    >
                </li>
                <li class="border-b border-b-white/10">
                    <a href="/shopping"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.3em"
                            height="1.3em"
                            class="carbon:shopping-cart me-2 inline"
                            viewBox="0 0 32 32"
                            ><circle cx="10" cy="28" r="2" fill="currentColor"
                            ></circle><circle cx="24" cy="28" r="2" fill="currentColor"
                            ></circle><path
                                fill="currentColor"
                                d="M28 7H5.82L5 2.8A1 1 0 0 0 4 2H0v2h3.18L7 23.2a1 1 0 0 0 1 .8h18v-2H8.82L8 18h18a1 1 0 0 0 1-.78l2-9A1 1 0 0 0 28 7m-2.8 9H7.62l-1.4-7h20.53Z"
                            ></path></svg
                        >
                        Shopping</a
                    >
                </li>
                <li class="border-b border-b-white/10">
                    <a href="/maintenance"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.3em"
                            height="1.3em"
                            class="mdi:hammer-screwdriver me-2 inline"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="m16.06 13.09l5.63 5.59l-3.32 3.28l-5.59-5.59v-.92l2.36-2.36zm.91-2.53L16 9.6l-4.79 4.8v1.97L5.58 22L2.3 18.68l5.59-5.59h1.97l.78-.78L6.8 8.46H5.5L2.69 5.62L5.31 3l2.8 2.8v1.31L12 10.95l2.66-2.66l-.96-1.01L15 5.97h-2.66l-.65-.65L15 2l.66.66v2.66L16.97 4l3.28 3.28c1.09 1.1 1.09 2.89 0 3.98l-1.97-2.01z"
                            ></path></svg
                        >
                        Maintenance</a
                    >
                </li>
                <li class="">
                    <a href="/general"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1.3em"
                            height="1.3em"
                            class="carbon:asterisk me-2 inline"
                            viewBox="0 0 32 32"
                            ><path
                                fill="currentColor"
                                d="m28.316 13.949l-.632-1.898L17 15.612V4h-2v11.612L4.316 12.051l-.632 1.898l10.684 3.561L7.2 27.066l1.6 1.201l7.2-9.6l7.2 9.6l1.6-1.201l-7.168-9.556z"
                            ></path></svg
                        >General</a
                    >
                </li>
            </ul>
        </div>
        <div class="hidden font-bold md:flex">
            <a href="/search" class="text-primary hover:text-accent">Search</a>
        </div>
        <div class="hidden font-bold md:flex">
            <a href="/about-us" class="text-primary hover:text-accent">About</a>
        </div>
    </div>
    <div class="navbar-end h-full self-center lg:mt-4 lg:self-start">
        <a href="/search" class="btn btn-circle btn-ghost" id="searchActivate">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class=""
                height="2em"
                width="2em"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
        </a>
    </div>
</div>

<script>
    function search(searchActivate, search) {
        const searchActivateButton = document.getElementById(searchActivate)
        const searchBox = document.getElementById(search)
        searchActivateButton?.addEventListener('click', (evt) => {
            if (searchBox?.classList.contains('hidden')) {
                searchBox?.classList.remove('hidden')
            } else {
                searchBox?.classList.add('hidden')
            }
        })
    }
    search('searchActivate', 'search')
    document.addEventListener('astro:after-swap', () => {
        search('searchActivate', 'search')
    })
</script>
