---
import '../styles/global.css'
import Footer from './Footer.astro'
import { ViewTransitions } from 'astro:transitions'
interface Props {
    title: string
}
import Search from 'astro-pagefind/components/Search'
const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="A blog for budget conscious people renovating their home."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>BTOnomics - {title}</title>
        <ViewTransitions />
    </head>
    <body>
        <div class="navbar mb-10">
            <div class="navbar-start self-start md:opacity-0">
                <div class="dropdown -mt-1">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-circle btn-ghost"
                        aria-label="Menu"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            ><path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h7"></path></svg
                        >
                    </div>
                    <ul
                        tabindex="0"
                        class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"
                    >
                        <li><a href="/">Home</a></li>
                        <li><a href="/honest-reviews">Honest Reviews</a></li>
                        <li><a href="/renovation">Renovation</a></li>
                        <li><a href="/shopping">Shopping</a></li>
                        <li><a href="/maintenance">Maintenance</a></li>
                        <li><a href="/general">General</a></li>
                        <li><a href="/about-us">About</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-center grid grid-cols-3 justify-items-center">
                <div class="col-span-3 md:pb-4">
                    <a
                        href="/"
                        class="self-center text-3xl font-extrabold md:text-6xl"
                        transition:name="logo">BTOnomics</a
                    >
                </div>
                <div class="dropdown hidden md:flex">
                    <div
                        tabindex="0"
                        role="button"
                        class="btn btn-ghost text-base font-bold hover:bg-base-100"
                    >
                        Blog<svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="m12 15.4l-6-6L7.4 8l4.6 4.6L16.6 8L18 9.4z"></path></svg
                        >
                    </div>
                    <ul
                        tabindex="0"
                        class="menu dropdown-content menu-sm z-[1] mt-10 w-52 rounded-box border-2 border-gray-500 bg-base-100 p-2 shadow"
                    >
                        <li class="border-b border-b-gray-600"><a href="/">Home</a></li>
                        <li class="border-b border-b-gray-600">
                            <a href="/honest-reviews">Honest Reviews</a>
                        </li>
                        <li class="border-b border-b-gray-600">
                            <a href="/renovation">Renovation</a>
                        </li>
                        <li class="border-b border-b-gray-600"><a href="/shopping">Shopping</a></li>
                        <li class="border-b border-b-gray-600">
                            <a href="/maintenance">Maintenance</a>
                        </li>
                        <li class="border-b border-b-gray-600"><a href="/general">General</a></li>
                        <li><a href="/about-us">About</a></li>
                    </ul>
                </div>
                <div class="hidden font-bold md:flex"><a href="/about-us">About</a></div>
                <div class="hidden font-bold md:flex">
                    <a href="https://old.btonomics.com/">Old</a>
                </div>
            </div>
            <div class="navbar-end h-full lg:mt-4 lg:self-start">
                <a href="/search" class="btn btn-circle btn-ghost" id="searchActivate">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class=""
                        height="2em"
                        width="2em"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex justify-center">
            <div class="p-4 md:max-w-screen-2xl md:p-8">
                <slot />
            </div>
        </div>
        <Footer />
        <script>
            function search(searchActivate, search) {
                const searchActivateButton = document.getElementById(searchActivate)
                const searchBox = document.getElementById(search)
                searchActivateButton?.addEventListener('click', (evt) => {
                    if (searchBox?.classList.contains('hidden')) {
                        searchBox?.classList.remove('hidden')
                    } else {
                        searchBox?.classList.add('hidden')
                    }
                })
            }
            search('searchActivate', 'search')
            document.addEventListener('astro:after-swap', () => {
                search('searchActivate', 'search')
            })
        </script>
        <style is:global>
            /*     :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    } */
        </style>
    </body>
</html>
