---
import '../styles/global.css'
import Footer from './Footer.astro'
import Navbar from '../components/Navbar.astro'
import { ClientRouter } from 'astro:transitions'

const { title } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="night">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="A blog for budget conscious people renovating their home."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script defer data-domain="btonomics.com" src="https://plausible.zixian.dev/js/script.js"
        ></script>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="generator" content={Astro.generator} />
        <title>BTOnomics - {title}</title>
        <ClientRouter />
    </head>
    <body>
        <Navbar />
        <div class="grid justify-items-center">
            <div class="p-4 md:max-w-(--breakpoint-2xl) lg:p-8">
                <slot />
            </div>
        </div>
        <Footer />
        <style is:global>
            /*     :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    }
    html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    } */
        </style>
    </body>
</html>
